html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   padding:0px;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: 25px;   /* Height of the footer */
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.header{
	float: right;
	padding: 4px;
}

.footer_left{
	float: left;
	padding: 4px;
}

.footer_right{
	float: right;
	padding: 4px;
}

li a{
	display: block;
	color: #696969;
	text-decoration: none;
}

.logo{
	display: block;
	margin: auto;
  padding-top: 8em;
  width: 544px;
}

input{
	display: block;
	margin: auto;
  margin-bottom: 200px;
	height: 30px;
	width: 500px;
}